/* ChatInstance.css */
.Chat-Instance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  height: 95vh;
  overflow: hidden;
}
  
#interpreter-container, #chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #474A48;
  border-radius: 10px;
  max-width: 95%;
  width: 50%;
  height: 100vh;
  height: 95vh;
  overflow-x: scroll;
  max-height: 100%;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

}
#chat-container h1{
  padding: 15px;
  overflow: hidden;
  white-space: normal;
  margin-top: 0px;
}

#interpreter-container h1,
#interpreter-container h2 {
  padding: 15px;
  margin-bottom: 5px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: normal;
  margin-top: 0px;


}

#chat-area{
  height: 85%;
}
#interpreter-area{
  height: 70%;

}

#chat-area,
#interpreter-area,
#interpreter-output {
  padding: 20px;
  border-radius: 5px;
  padding-top: 0px;
  font-size:16px;
  
}

#interpreter-area,
#interpreter-output{
  font-size:14px;
  /* padding-bottom: 0px; */
  overflow-x: hidden;
  white-space: normal;
}

#chat-area{
  overflow-x: hidden;
  white-space: normal;
}
.snippet-btns{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  background-color: #2C302E;
}
#chat-form {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  background-color: #2C302E;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  flex-grow: 1;
}
#user-input{
  flex-grow: 1;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  font-size: 16px;

}

button {

  background-color: #2C302E;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #9AE19D;
  color:#2C302E;
}

input[type="file"] {
  display: none;
}

label[for="file-input"] {
  background-color: gray;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
label[for="file-input"]:hover {
  background-color: black;
}

.assistant-message {
  color: white; 
}
/* the first p in chat-form  zero top margin */
#chat-area p {
  margin-top: 0;
}
.you-message {

  color: #62D067;
}
.system-message {

  color: #a91c1c;
}

.interpreter-message {
  color: #f44336;
}

.assistant-message-before-res2 {
  color: rgb(180, 174, 174);
}

.assistant-message-after-res2 {
  color: white;
}
#interpreter-container::-webkit-scrollbar,#chat-container::-webkit-scrollbar,
#chat-area::-webkit-scrollbar, #interpreter-area::-webkit-scrollbar, #interpreter-output::-webkit-scrollbar, .sidebar::-webkit-scrollbar {
  width: 6px; 
  max-height: 0px; 

}
#interpreter-container::-webkit-scrollbar,#chat-container::-webkit-scrollbar,
#chat-area::-webkit-scrollbar-track, #interpreter-area::-webkit-scrollbar-track, #interpreter-output::-webkit-scrollbar-track, .sidebar::-webkit-scrollbar-track {
  background-color: transparent; 

}
#interpreter-container::-webkit-scrollbar-thumb,#chat-container::-webkit-scrollbar-thumb,
#chat-area::-webkit-scrollbar-thumb, #interpreter-area::-webkit-scrollbar-thumb, #interpreter-output::-webkit-scrollbar-thumb, .sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(154, 225, 157, 0); 
  transition: background-color 3.0s ease-in-out;
      }

#chat-area:hover::-webkit-scrollbar-thumb, #interpreter-area:hover::-webkit-scrollbar-thumb, #interpreter-output:hover::-webkit-scrollbar-thumb,
#chat-area:active::-webkit-scrollbar-thumb, #interpreter-area:active::-webkit-scrollbar-thumb, #interpreter-output:active::-webkit-scrollbar-thumb, .sidebar:hover::-webkit-scrollbar-thumb, .sidebar:active::-webkit-scrollbar-thumb, .sidebar::-webkit-scrollbar-thumb {

  transition: background-color 3.0s ease-in-out;
  background-color: rgba(154, 225, 157, 1); 
}

.handle {
  cursor: col-resize;
  background-color: #2C302E;
  min-width: 10px;
  border: none;

}
.handle:hover {
  background-color: #9AE19D;
}

<<<<<<< HEAD
@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .Sidebar-Container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .ChatInstance-Container {
    width: 100%;
    height: calc(100% - 20px);
    margin-top: 0;
    margin-left: 20px;
  }

  .toggle-sidebar-btn {
    display: block;
    width: 20%;
    height: 5%;
  }
  #interpreter-container, .handle{
    display:none;
  }
  #chat-container{
    width: 100%;
  }
  .App{

  }
=======
#interpreter-container::-webkit-scrollbar,#chat-container::-webkit-scrollbar,
#chat-area::-webkit-scrollbar-track, #interpreter-area::-webkit-scrollbar-track, #interpreter-output::-webkit-scrollbar-track, .sidebar::-webkit-scrollbar-track {
  background-color: transparent; 

>>>>>>> aea95903be7d69e0cf05c17607418d703b33dab7
}